#tekst 
	{
		max-width: 100%;
		height:auto;
	}

@media only screen and (max-width: 480px) 
{
	#img1 
	{
		width: 100%;
		height:auto;
	}
	
	#img2 
	{
		width: 100%;
		height:auto;
		margin-top: 2%;
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 481px) 
{
#img1 
	{
		width: 48%;
		height:auto;
		float: left;
		margin-left: 1%;
		
		border-style: solid;
		border-width: 2px;
		border-color: red;
	}


#img2 
	{
		width: 48%;
		height:auto;
		float: right;
		margin-right: 1%;
		
		border-style: solid;
		border-width: 2px;
		border-color: red;
	}
}


@media only screen and (min-width: 600px) 
{
#img1 
	{
		width: 48%;
		height:auto;
		float: left;
		margin-left: 1%;
		
		border-style: solid;
		border-width: 2px;
		border-color: green;
	}


#img2 
	{
		width: 48%;
		height:auto;
		float: right;
		margin-right: 1%;
		
		border-style: solid;
		border-width: 2px;
		border-color: green;
	}
}

